* {
    font-family: Calibri;
    color: #333435;
    max-width:1300px;
    margin: 0 auto;
    /* font-size: 100% */
}

body {
    text-align: center;
    margin: 0 auto;
    border: 1px solid black
}

header {
    background-color: #80BCE1;
    /* padding: 1px; */
    border: 1px solid black;
    margin: -1px;
}

h1 {
    margin: 0 auto;
    padding: 10px;
    background-color: #80BCE1;
}

div {
    line-height: 2;
    /* border: 1px solid black; */
    padding: 2px;
    
}

.oriel, .highsill {
    display: none;
}

div#message {
    line-height: 1;
    margin: 4px;
}

form { 
    /* padding-top: 10px;
    padding-left: 10px; */
    line-height: 2px;   
}

button#calculate:hover {
    background-color: #80BCE1;
    
}

div.calculatebutton {
    width: 10%;
    height: 20%;
}

button {
    width: 80%;
    height: 100%;
}

label { 
    font-size: 110%;
}
