* {
    font-family: Calibri;
    /* font-size: 110% */
}
h1 {
    /* background-color: rgb(42, 171, 245); */
    text-align: center;
    /* padding-left: 50px; */
    font-size: 150%
    
}

div {
    line-height: 2;
}

.oriel, .highsill {
    display: none;
}

div#message {
    line-height: 1;
}

footer {
    color: rgba(0,0,0,0.3)
}

img {
    height: 10em;
    width: 10em;
    /* border: 1px solid black; */
    /* display: block; */
    ;
}

header#banner {
    background-color: rgb(42, 171, 245);
    /* display: flex; */
    padding: 2px;
}

form { 
    padding-top: 10px;
    padding-left: 10px;
    line-height: 2px;
}

button#calculate:hover {
    background-color: rgb(42, 171, 245);
    
}

.calculatebutton {
    padding-left: 10px;
}

label { 
    font-size: 110%;
}
